<%= render 'posts/mathjax' %>
<div class="well">
  <div class="row-fluid">
    <div class="span2">
      <%= image_tag @user.gravatar_url %>
    </div>
    <div class="span10">
      <h3><%= @user.name %></h3>
    </div>
  </div>
</div>

<% @posts.each do |post| %>
  <div class="well">
    <%= content_tag :h1, post.title if post.show_title%>
    <%= post.markup_content %>
    <%= link_to t("show"), post %>
    <%= render 'posts/manage_links', post: post %>
  </div>
  
<% end %>
<%= will_paginate @posts %>
