<div class="well">
  <div class="row-fluid">
    <div class="span2">
      <%= image_tag @user.gravatar_url %>
    </div>
    <div class="span10">
      <h3><%= @user.name %></h3>
    </div>
  </div>
</div>

<% @posts.each do |post| %>
  <div class="page-header">
    <h1><%= link_to post.title, post, class: "muted" %></h1>
  </div>
  <%= post.markup_content %>
  <%= render 'posts/manage_links', post: post %>
<% end %>
<%= will_paginate @posts %>