<%= render 'posts/mathjax' %>
<%= render 'posts/ace' %>
<div class="jumbotron">
  <h1><%= t(".header") %></h1>
  <p class="lead"><%= t(".lead") %></p>
  <%= link_to t(".try_it"), new_post_path, class: "btn btn-large btn-success" %>
  <p><%= render 'share/share_btns' %></p>
</div>

<div class="row-fluid">
  <div class="span6">
    <div id="editor"></div>
    <%= text_area_tag "post_content", nil, id: "post_content", class: "span12", rows: 25 %></div>
  <div class="span6"><div id="preview"></div></div>
</div>

<hr>

<div class="row-fluid marketing">
  <div class="span6">
    <h4><%= t(".features.code_hightlight.h") %></h4>
    <p><%= t(".features.code_hightlight.p").html_safe %></p>

    <h4><%= t(".features.gfm.h") %></h4>
    <p><%= t(".features.gfm.p").html_safe %></p>

    <h4><%= t(".features.sign_in_with_open_id.h") %></h4>
    <p><%= t(".features.sign_in_with_open_id.p").html_safe %></p>
  </div>
  <div class="span6">
    <h4><%= t(".features.mathematic_syntax.h") %></h4>
    <p><%= t(".features.mathematic_syntax.p").html_safe %></p>

    <h4><%= t(".features.real_time_editor.h") %></h4>
    <p><%= t(".features.real_time_editor.p").html_safe %></p>
  </div>
</div>