<%= render 'mathjax' %>
<%= render "ace" %>
<div class="row-fluid">
  <div class="span6">
    <%= simple_form_for(@post) do |f| %>
      <%= error_message f.object %>
      <div class="form-inputs">
        <%= f.input :title %>
        <%= f.input :show_title %>
        <div id="editor"></div>
        <%= f.input :content, as: :hidden, input_html: {class: 'span12'} %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, class: "btn btn-primary btn-large" %>
      </div>
    <% end %>
  </div>
  <div class="span6">
    <div class="page-header">
      <h2>
        <%= t("preview") %>
      </h2>
    </div>
    <div id="preview"></div>
  </div>
</div>