<%= render 'mathjax' %>
<% if @post.show_title %>
  <h1><%= @post.title %></h1>
<% end %>
<%= @post.markup_content %>
<hr>
<%= render 'share/share_btns' %>
<%= render "share/disqus" %>
<%= render partial: "layouts/footer" %>