<%
  title = @title || t("site_name")
  image = @meta && @meta[:image] || ""
  description = @meta && @meta[:description] || t("home.index.lead")
  author = @meta && @meta[:author]
%>
<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="<%= description %>">
<meta name="author" content="<%= author %>">

<meta property="og:title" content="<%= title %>" />
<meta property="og:image" content="<%= image %>" />
<meta property="og:description" content="<%= description %>" />

<meta itemprop="name" content="<%= title %>">
<meta itemprop="description" content="<%= description %>">
<meta itemprop="image" content="<%= image %>">