<% content_for :container do %>
  <div class="container-fluid">
    <div class="masthead">
      <%= render partial: 'layouts/navbar' %>
      <h3 class="muted"><%= t("site_name") %></h3>
    </div>
    <hr>
    <%= notice_message %>
    <%= yield %>
    <hr>
    <%= render partial: 'layouts/footer' %>
  </div> <!-- /container -->
<% end %>

<%= render template: 'layouts/application' %>